<!DOCTYPE html>
<html>
  <head>
    <title>MusicShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD
=======
 
  <body>
>>>>>>> 225f0b8de2396b2e0079e63e349e5da8aba9c868
    <%= yield %>
  </body>
</html>
